/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* Variables */

$white: #fff;
$black: #000;
$float: left;
$padding30: 30px;
$yes25: 25%;
$bold: bold;

/* End of Variables */

/* Mixins */

@mixin content-p(){
	background-color: #ffffff;
    border: 0.5px solid grey;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: rgba(0,0,0,0.34) 0px 1px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.34) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.34) 0px 1px 3px;
    padding: 20px 10px;
    font-size: 1.5em;
    margin-top: 20px;
}

@mixin aside(){
	-webkit-box-shadow: 5px 0px 10px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 0px 10px -2px rgba(0,0,0,0.75);
	box-shadow: 5px 0px 10px -2px rgba(0,0,0,0.75);
	float: $float;
	background: black;
	padding: 30px;
	height: auto;
	overflow: auto;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: $yes25;
}

/* End of Mixins */


*{
	box-sizing: border-box;
}

body,
html{
	font-family: Roboto;
	color: $white;
	background: white;
	padding: 0;
	margin: 0;
}

header{
	float: left;
}

nav{
	width: 35%;
	margin-top: 20px;
}

nav a{
	width: 100%;
	display: block;
	text-decoration: none;
	margin-top: 30px;
	color: $white;
	padding-left: 20px;
	font-size: 1.5em;
}

aside{
	@include aside();
}

aside h1{
	font-weight: $bold;
	font-size: 3em;
}

#caption{
	font-size: 2em;
}

#content{
	background: $white;
	color: #000;
	float: $float;
	width: 75%;
	margin-left: $yes25;
}

.contimg{
	margin: auto;
	display: block;
	width: 38%;
}

.contimg img{
	width: 100%;
}

.cont{
	padding: $padding30;
}

.cont p{
	@include content-p();
}

.cont:nth-of-type(1){
	background: #f3936d;
}

.cont:nth-of-type(2){
	background: #22A7F0;
}

@media screen and (min-width: 1024px) {
	nav a:hover{
		background: $white;
		color: $black;
	}
}