/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* End of Variables */
/* Mixins */
/* End of Mixins */
/* line 55, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 59, ../sass/screen.scss */
body,
html {
  font-family: Roboto;
  color: #fff;
  background: white;
  padding: 0;
  margin: 0;
}

/* line 68, ../sass/screen.scss */
header {
  float: left;
}

/* line 72, ../sass/screen.scss */
nav {
  width: 35%;
  margin-top: 20px;
}

/* line 77, ../sass/screen.scss */
nav a {
  width: 100%;
  display: block;
  text-decoration: none;
  margin-top: 30px;
  color: #fff;
  padding-left: 20px;
  font-size: 1.5em;
}

/* line 87, ../sass/screen.scss */
aside {
  -webkit-box-shadow: 5px 0px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 0px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 0px 10px -2px rgba(0, 0, 0, 0.75);
  float: left;
  background: black;
  padding: 30px;
  height: auto;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25%;
}

/* line 91, ../sass/screen.scss */
aside h1 {
  font-weight: bold;
  font-size: 3em;
}

/* line 96, ../sass/screen.scss */
#caption {
  font-size: 2em;
}

/* line 100, ../sass/screen.scss */
#content {
  background: #fff;
  color: #000;
  float: left;
  width: 75%;
  margin-left: 25%;
}

/* line 108, ../sass/screen.scss */
.contimg {
  margin: auto;
  display: block;
  width: 38%;
}

/* line 114, ../sass/screen.scss */
.contimg img {
  width: 100%;
}

/* line 118, ../sass/screen.scss */
.cont {
  padding: 30px;
}

/* line 122, ../sass/screen.scss */
.cont p {
  background-color: #ffffff;
  border: 0.5px solid grey;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.34) 0px 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.34) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 1px 3px;
  padding: 20px 10px;
  font-size: 1.5em;
  margin-top: 20px;
}

/* line 126, ../sass/screen.scss */
.cont:nth-of-type(1) {
  background: #f3936d;
}

/* line 130, ../sass/screen.scss */
.cont:nth-of-type(2) {
  background: #22A7F0;
}

@media screen and (min-width: 1024px) {
  /* line 135, ../sass/screen.scss */
  nav a:hover {
    background: #fff;
    color: #000;
  }
}
